<mat-card *ngIf="dataOfDevice" class="card-outer" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      <mat-card-subtitle>{{dataOfDevice.WebSiteDeviceName}}</mat-card-subtitle>
      <mat-card-subtitle>
        <app-ok-indecator  [deviceData]="dataOfDevice"
                          (statusChanged)="statusChangedHandler($event)">
        </app-ok-indecator>
      </mat-card-subtitle>
      <img mat-card-sm-image [src]="imgSrc" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{dataOfDevice.LastReportDate}} :תאריך עדכון אחרון
  </mat-card-content>
</mat-card>
