.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  margin: 0;
}

.mixed-title {
  direction: rtl;
  unicode-bidi: embed;
  font-size: 24px;
  color: black;
}
